@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-55Roman.otf') format('otf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-65Medium.otf') format('otf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-75Bold.otf') format('otf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-55RomanItalic.otf') format('otf');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-65MediumItalic.otf') format('otf');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-75BoldItalic.otf') format('otf');
	font-weight: 700;
	font-style: italic;
}

* {
	box-sizing: border-box;
}

img {
	width: 100%;
}

:root {
	--type-s: 10px;
	--type-s-leading: 13px;
	--type-m: 11.5px;
	--type-m-leading: 16px;
	--type-l: 19px;
	--type-l-leading: 24px;
	--margin: 10px;
	--space-s: 5px;
	--space-m: 10px;
	--space-l: 22px;
	--space-xl: 40px;
	--border-radius: 0.3rem;
	--lightgrey: #eae9ea;
	--darkgrey: #ababab;
	--darkergrey: #8a8a8a;
	--width-m: calc(100vw - 2 * var(--space-m));
}

@media screen and (max-width: 640px) {
	:root {
		--gridspace: 3px;
		--gridspace2: 60px;
		--type-m: 13px;
		--type-m-leading: 16px;
		--type-l: 16px;
		--type-l-leading: 20px;
	}
}

@media screen and (min-width: 1900px) {
	:root {
		--gridspace: 3px;
		--gridspace2: 60px;
		--type-l: 26px;
		--type-l-leading: 31px;
	}
}

body {
	font-family: 'HG', Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	font-weight: 600;
	font-style: normal;
	background-color: black;
	color: var(--darkgrey);
	font-size: var(--type-m);
	line-height: var(--type-m-leading);
	-webkit-font-smoothing: antialiased !important;
}

body,
.page,
#_nuxt {
	overscroll-behavior: none;
}
::selection {
	background: white;
	color: black;
}
/* html::-webkit-scrollbar {
	display: none;
}
html {
	-ms-overflow-style: none;
	scrollbar-width: none;
} */

body::-webkit-scrollbar {
	display: none;
}

body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* #__nuxt::-webkit-scrollbar {
	display: none;
} */

#__nuxt,
.page {
}

.page {
	max-height: 100vh;
}

* {
	/* outline: solid 1px red; */
}

@media screen and (max-width: 640px) {
	body {
		overflow: scroll;
	}
}

.pagetransition-enter-active,
.pagetransition-leave-active {
	transition: opacity 0.4s ease;
}

.pagetransition-enter-from,
.pagetransition-leave-to {
	opacity: 0;
}

a {
	color: var(--lightgrey);
	text-decoration: none;
}

input {
	outline: 0;
	stroke: 0;
	border: 0;
	border-radius: var(--border-radius);
	padding: 3px 5px;
	transition: all ease-in-out 0.6s;
	transition-delay: 0s;
	&:hover {
		transition-delay: 0.1s;
	}
}
input.text {
	background-color: rgba(255, 255, 255, 0.25);
	padding-left: var(--space-m);
	color: white;
	border-radius: var(--border-radius);
	&:hover {
	}
	&:focus {
		border-bottom: white 2px solid;
		background-color: rgba(255, 255, 255, 0.45);
		&.error {
			border-bottom: red 2px solid !important;
		}
	}
}

input.text::placeholder {
	color: var(--lightgrey);
	opacity: 1; /* Firefox */
	transition: all ease-in-out 0.6s;
}
input.text:hover::placeholder {
	color: white;
	transition: all ease-in-out 0.6s;
}

input.btn {
	background-color: rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0.9);
	color: var(--lightgrey);
	cursor: pointer;
	padding-left: var(--space-l);
	padding-right: var(--space-l);

	&:hover {
		background-color: rgba(255, 255, 255, 0.5);
		color: rgba(255, 255, 255, 0.9);
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.4s ease;
}

.gradient-enter-active {
	animation: slide 0.55s reverse;
}

.gradient-leave-active {
	animation: slide 0.55s;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

@keyframes slide {
	0.0% {
		mask-image: linear-gradient(0, #00000000 -50%, #000000ff 0%);
	}

	2.0% {
		mask-image: linear-gradient(0, #00000000 -49.8224%, #000000ff 0.1776%);
	}

	4.0% {
		mask-image: linear-gradient(0, #00000000 -49.2992%, #000000ff 0.7008%);
	}

	6.0% {
		mask-image: linear-gradient(0, #00000000 -48.4448%, #000000ff 1.5552%);
	}

	8.0% {
		mask-image: linear-gradient(0, #00000000 -47.2736%, #000000ff 2.7264%);
	}

	10.0% {
		mask-image: linear-gradient(0, #00000000 -45.8%, #000000ff 4.2%);
	}

	12.0% {
		mask-image: linear-gradient(0, #00000000 -44.0384%, #000000ff 5.9616%);
	}

	14.0% {
		mask-image: linear-gradient(0, #00000000 -42.0032%, #000000ff 7.9968%);
	}

	16.0% {
		mask-image: linear-gradient(0, #00000000 -39.7088%, #000000ff 10.2912%);
	}

	18.0% {
		mask-image: linear-gradient(0, #00000000 -37.1696%, #000000ff 12.8304%);
	}

	20.0% {
		mask-image: linear-gradient(0, #00000000 -34.4%, #000000ff 15.6%);
	}

	22.0% {
		mask-image: linear-gradient(0, #00000000 -31.4144%, #000000ff 18.5856%);
	}

	24.0% {
		mask-image: linear-gradient(0, #00000000 -28.2272%, #000000ff 21.7728%);
	}

	26.0% {
		mask-image: linear-gradient(0, #00000000 -24.8528%, #000000ff 25.1472%);
	}

	28.0% {
		mask-image: linear-gradient(0, #00000000 -21.3056%, #000000ff 28.6944%);
	}

	30.0% {
		mask-image: linear-gradient(0, #00000000 -17.6%, #000000ff 32.4%);
	}

	32.0% {
		mask-image: linear-gradient(0, #00000000 -13.7504%, #000000ff 36.2496%);
	}

	34.0% {
		mask-image: linear-gradient(0, #00000000 -9.7712%, #000000ff 40.2288%);
	}

	36.0% {
		mask-image: linear-gradient(0, #00000000 -5.6768%, #000000ff 44.3232%);
	}

	38.0% {
		mask-image: linear-gradient(0, #00000000 -1.4816%, #000000ff 48.5184%);
	}

	40.0% {
		mask-image: linear-gradient(0, #00000000 2.8%, #000000ff 52.8%);
	}

	42.0% {
		mask-image: linear-gradient(0, #00000000 7.1536%, #000000ff 57.1536%);
	}

	44.0% {
		mask-image: linear-gradient(0, #00000000 11.5648%, #000000ff 61.5648%);
	}

	46.0% {
		mask-image: linear-gradient(0, #00000000 16.0192%, #000000ff 66.0192%);
	}

	48.0% {
		mask-image: linear-gradient(0, #00000000 20.5024%, #000000ff 70.5024%);
	}

	50.0% {
		mask-image: linear-gradient(0, #00000000 25%, #000000ff 75%);
	}

	52.0% {
		mask-image: linear-gradient(0, #00000000 29.4976%, #000000ff 79.4976%);
	}

	54.0% {
		mask-image: linear-gradient(0, #00000000 33.9808%, #000000ff 83.9808%);
	}

	56.0% {
		mask-image: linear-gradient(0, #00000000 38.4352%, #000000ff 88.4352%);
	}

	58.0% {
		mask-image: linear-gradient(0, #00000000 42.8464%, #000000ff 92.8464%);
	}

	60.0% {
		mask-image: linear-gradient(0, #00000000 47.2%, #000000ff 97.2%);
	}

	62.0% {
		mask-image: linear-gradient(0, #00000000 51.4816%, #000000ff 101.4816%);
	}

	64.0% {
		mask-image: linear-gradient(0, #00000000 55.6768%, #000000ff 105.6768%);
	}

	66.0% {
		mask-image: linear-gradient(0, #00000000 59.7712%, #000000ff 109.7712%);
	}

	68.0% {
		mask-image: linear-gradient(0, #00000000 63.7504%, #000000ff 113.7504%);
	}

	70.0% {
		mask-image: linear-gradient(0, #00000000 67.6%, #000000ff 117.6%);
	}

	72.0% {
		mask-image: linear-gradient(0, #00000000 71.3056%, #000000ff 121.3056%);
	}

	74.0% {
		mask-image: linear-gradient(0, #00000000 74.8528%, #000000ff 124.8528%);
	}

	76.0% {
		mask-image: linear-gradient(0, #00000000 78.2272%, #000000ff 128.2272%);
	}

	78.0% {
		mask-image: linear-gradient(0, #00000000 81.4144%, #000000ff 131.4144%);
	}

	80.0% {
		mask-image: linear-gradient(0, #00000000 84.4%, #000000ff 134.4%);
	}

	82.0% {
		mask-image: linear-gradient(0, #00000000 87.1696%, #000000ff 137.1696%);
	}

	84.0% {
		mask-image: linear-gradient(0, #00000000 89.7088%, #000000ff 139.7088%);
	}

	86.0% {
		mask-image: linear-gradient(0, #00000000 92.0032%, #000000ff 142.0032%);
	}

	88.0% {
		mask-image: linear-gradient(0, #00000000 94.0384%, #000000ff 144.0384%);
	}

	90.0% {
		mask-image: linear-gradient(0, #00000000 95.8%, #000000ff 145.8%);
	}

	92.0% {
		mask-image: linear-gradient(0, #00000000 97.2736%, #000000ff 147.2736%);
	}

	94.0% {
		mask-image: linear-gradient(0, #00000000 98.4448%, #000000ff 148.4448%);
	}

	96.0% {
		mask-image: linear-gradient(0, #00000000 99.2992%, #000000ff 149.2992%);
	}

	98.0% {
		mask-image: linear-gradient(0, #00000000 99.8224%, #000000ff 149.8224%);
	}

	100.0% {
		mask-image: linear-gradient(0, #00000000 100%, #000000ff 150%);
	}
}
