@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-55Roman.otf') format('otf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-65Medium.otf') format('otf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-75Bold.otf') format('otf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-55RomanItalic.otf') format('otf');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-65MediumItalic.otf') format('otf');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'HG';
	src: url('/assets/HaasGrotDisp-75BoldItalic.otf') format('otf');
	font-weight: 700;
	font-style: italic;
}

* {
	box-sizing: border-box;
}

img {
	width: 100%;
}

:root {
	--type-s: 10px;
	--type-s-leading: 13px;
	--type-m: 11.5px;
	--type-m-leading: 16px;
	--type-l: 19px;
	--type-l-leading: 24px;
	--margin: 10px;
	--space-s: 5px;
	--space-m: 10px;
	--space-l: 22px;
	--space-xl: 40px;
	--border-radius: 0.3rem;
	--lightgrey: #eae9ea;
	--darkgrey: #ababab;
	--darkergrey: #8a8a8a;
	--width-m: calc(100vw - 2 * var(--space-m));
}

@media screen and (max-width: 640px) {
	:root {
		--gridspace: 3px;
		--gridspace2: 60px;
		--type-m: 13px;
		--type-m-leading: 16px;
		--type-l: 16px;
		--type-l-leading: 20px;
	}
}

@media screen and (min-width: 1900px) {
	:root {
		--gridspace: 3px;
		--gridspace2: 60px;
		--type-l: 26px;
		--type-l-leading: 31px;
	}
}

body {
	font-family: 'HG', Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	font-weight: 600;
	font-style: normal;
	background-color: black;
	color: var(--darkgrey);
	font-size: var(--type-m);
	line-height: var(--type-m-leading);
	-webkit-font-smoothing: antialiased !important;
}

body,
.page,
#_nuxt {
	overscroll-behavior: none;
}
::selection {
	background: white;
	color: black;
}
/* html::-webkit-scrollbar {
	display: none;
}
html {
	-ms-overflow-style: none;
	scrollbar-width: none;
} */

body::-webkit-scrollbar {
	display: none;
}

body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* #__nuxt::-webkit-scrollbar {
	display: none;
} */

#__nuxt,
.page {
}

.page {
	max-height: 100vh;
}

* {
	/* outline: solid 1px red; */
}

@media screen and (max-width: 640px) {
	body {
		overflow: scroll;
	}
}

.pagetransition-enter-active,
.pagetransition-leave-active {
	transition: opacity 0.4s ease;
}

.pagetransition-enter-from,
.pagetransition-leave-to {
	opacity: 0;
}

a {
	color: var(--lightgrey);
	text-decoration: none;
}

input {
	outline: 0;
	stroke: 0;
	border: 0;
	border-radius: var(--border-radius);
	padding: 3px 5px;
	transition: all ease-in-out 0.6s;
	transition-delay: 0s;
	&:hover {
		transition-delay: 0.1s;
	}
}
input.text {
	background-color: rgba(255, 255, 255, 0.25);
	padding-left: var(--space-m);
	color: white;
	border-radius: var(--border-radius);
	&:hover {
	}
	&:focus {
		border-bottom: white 2px solid;
		background-color: rgba(255, 255, 255, 0.45);
	}
}

input.text::placeholder {
	color: var(--lightgrey);
	opacity: 1; /* Firefox */
	transition: all ease-in-out 0.6s;
}
input.text:hover::placeholder {
	color: white;
	transition: all ease-in-out 0.6s;
}

input.btn {
	background-color: rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0.9);
	color: var(--lightgrey);
	cursor: pointer;
	padding-left: var(--space-l);
	padding-right: var(--space-l);

	&:hover {
		background-color: rgba(255, 255, 255, 0.5);
		color: rgba(255, 255, 255, 0.9);
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.4s ease;
}

.gradient-enter-active {
	animation: slide 0.7s reverse;
}

.gradient-leave-active {
	animation: slide 0.7s;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

@keyframes slide {
	0.0% {
		mask-image: linear-gradient(0, #00000000 -50%, #000000ff 0%);
	}

	2.0% {
		mask-image: linear-gradient(0, #00000000 -49.995272%, #000000ff 0.004728%);
	}

	4.0% {
		mask-image: linear-gradient(0, #00000000 -49.962752%, #000000ff 0.037248%);
	}

	6.0% {
		mask-image: linear-gradient(0, #00000000 -49.876232%, #000000ff 0.123768%);
	}

	8.0% {
		mask-image: linear-gradient(0, #00000000 -49.711232%, #000000ff 0.288768%);
	}

	10.0% {
		mask-image: linear-gradient(0, #00000000 -49.445%, #000000ff 0.555%);
	}

	12.0% {
		mask-image: linear-gradient(0, #00000000 -49.056512%, #000000ff 0.943488%);
	}

	14.0% {
		mask-image: linear-gradient(0, #00000000 -48.526472%, #000000ff 1.473528%);
	}

	16.0% {
		mask-image: linear-gradient(0, #00000000 -47.837312%, #000000ff 2.162688%);
	}

	18.0% {
		mask-image: linear-gradient(0, #00000000 -46.973192%, #000000ff 3.026808%);
	}

	20.0% {
		mask-image: linear-gradient(0, #00000000 -45.92%, #000000ff 4.08%);
	}

	22.0% {
		mask-image: linear-gradient(0, #00000000 -44.665352%, #000000ff 5.334648%);
	}

	24.0% {
		mask-image: linear-gradient(0, #00000000 -43.198592%, #000000ff 6.801408%);
	}

	26.0% {
		mask-image: linear-gradient(0, #00000000 -41.510792%, #000000ff 8.489208%);
	}

	28.0% {
		mask-image: linear-gradient(0, #00000000 -39.594752%, #000000ff 10.405248%);
	}

	30.0% {
		mask-image: linear-gradient(0, #00000000 -37.445%, #000000ff 12.555%);
	}

	32.0% {
		mask-image: linear-gradient(0, #00000000 -35.057792%, #000000ff 14.942208%);
	}

	34.0% {
		mask-image: linear-gradient(0, #00000000 -32.431112%, #000000ff 17.568888%);
	}

	36.0% {
		mask-image: linear-gradient(0, #00000000 -29.564672%, #000000ff 20.435328%);
	}

	38.0% {
		mask-image: linear-gradient(0, #00000000 -26.459912%, #000000ff 23.540088%);
	}

	40.0% {
		mask-image: linear-gradient(0, #00000000 -23.12%, #000000ff 26.88%);
	}

	42.0% {
		mask-image: linear-gradient(0, #00000000 -19.549832%, #000000ff 30.450168%);
	}

	44.0% {
		mask-image: linear-gradient(0, #00000000 -15.756032%, #000000ff 34.243968%);
	}

	46.0% {
		mask-image: linear-gradient(0, #00000000 -11.746952%, #000000ff 38.253048%);
	}

	48.0% {
		mask-image: linear-gradient(0, #00000000 -7.532672%, #000000ff 42.467328%);
	}

	50.0% {
		mask-image: linear-gradient(0, #00000000 -3.125%, #000000ff 46.875%);
	}

	52.0% {
		mask-image: linear-gradient(0, #00000000 1.462528%, #000000ff 51.462528%);
	}

	54.0% {
		mask-image: linear-gradient(0, #00000000 6.214648%, #000000ff 56.214648%);
	}

	56.0% {
		mask-image: linear-gradient(0, #00000000 11.114368%, #000000ff 61.114368%);
	}

	58.0% {
		mask-image: linear-gradient(0, #00000000 16.142968%, #000000ff 66.142968%);
	}

	60.0% {
		mask-image: linear-gradient(0, #00000000 21.28%, #000000ff 71.28%);
	}

	62.0% {
		mask-image: linear-gradient(0, #00000000 26.503288%, #000000ff 76.503288%);
	}

	64.0% {
		mask-image: linear-gradient(0, #00000000 31.788928%, #000000ff 81.788928%);
	}

	66.0% {
		mask-image: linear-gradient(0, #00000000 37.111288%, #000000ff 87.111288%);
	}

	68.0% {
		mask-image: linear-gradient(0, #00000000 42.443008%, #000000ff 92.443008%);
	}

	70.0% {
		mask-image: linear-gradient(0, #00000000 47.755%, #000000ff 97.755%);
	}

	72.0% {
		mask-image: linear-gradient(0, #00000000 53.016448%, #000000ff 103.016448%);
	}

	74.0% {
		mask-image: linear-gradient(0, #00000000 58.194808%, #000000ff 108.194808%);
	}

	76.0% {
		mask-image: linear-gradient(0, #00000000 63.255808%, #000000ff 113.255808%);
	}

	78.0% {
		mask-image: linear-gradient(0, #00000000 68.163448%, #000000ff 118.163448%);
	}

	80.0% {
		mask-image: linear-gradient(0, #00000000 72.88%, #000000ff 122.88%);
	}

	82.0% {
		mask-image: linear-gradient(0, #00000000 77.366008%, #000000ff 127.366008%);
	}

	84.0% {
		mask-image: linear-gradient(0, #00000000 81.580288%, #000000ff 131.580288%);
	}

	86.0% {
		mask-image: linear-gradient(0, #00000000 85.479928%, #000000ff 135.479928%);
	}

	88.0% {
		mask-image: linear-gradient(0, #00000000 89.020288%, #000000ff 139.020288%);
	}

	90.0% {
		mask-image: linear-gradient(0, #00000000 92.155%, #000000ff 142.155%);
	}

	92.0% {
		mask-image: linear-gradient(0, #00000000 94.835968%, #000000ff 144.835968%);
	}

	94.0% {
		mask-image: linear-gradient(0, #00000000 97.013368%, #000000ff 147.013368%);
	}

	96.0% {
		mask-image: linear-gradient(0, #00000000 98.635648%, #000000ff 148.635648%);
	}

	98.0% {
		mask-image: linear-gradient(0, #00000000 99.649528%, #000000ff 149.649528%);
	}

	100.0% {
		mask-image: linear-gradient(0, #00000000 100%, #000000ff 150%);
	}
}
